.divCaroussel {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divLocation {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}
